@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-animation-card{
    position:relative;
}

.custom-animation-content-back{
    z-index: 20;
    -webkit-animation: linear;
    -webkit-animation-name: back;
    -webkit-animation-duration: 1.5s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
}

.custom-animation-content:hover{
    -webkit-animation: linear;
    -webkit-animation-name: run;
    -webkit-animation-duration: 1.5s;

    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
}

@-webkit-keyframes run {
    0% {
        transform: 0%;
    }
    50% {
        transform: translate(8rem,0);
        -webkit-transform: translate(8rem,0);
        -moz-transform: translate(8rem,0);
        -o-transform: translate(8rem,0);
        -ms-transform: translate(8rem,0);
    }
    100% {
        transform: 0%;
        z-index:20;
    }
}

@-webkit-keyframes back {
    0% {
        transform: 0%;
        z-index:20;
    }
    50% {
        transform: translate(8rem,0);
        -webkit-transform: translate(8rem,0);
        -moz-transform: translate(8rem,0);
        -o-transform: translate(8rem,0);
        -ms-transform: translate(8rem,0);
    }
    100% {
        transform: 0%;
        z-index:0;
    }
}